<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
  <title>Books</title>
</head>
<body >
  <header> 
    <h1>
      <!-- Show page for Book</h1> -->
    </h1>
    <nav> 
      <ul>
        <li>
          <!-- <a href="/">Home</a> -->
        </li>
        <li>
          <!-- <a href="/books">Book Index</a> -->
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="book">
      <!-- <h1><%=book.title%></h1> -->
      <large><a href="/users/<%=user._id%>"><%=user.username%>'s' Book Selection</a></large>
    <section>
      <h2>
        <!-- Book Description -->
      </h2>
      <img class="bookimg" src="<%=book.img%>">
      <ul>
        <li> Title: <%=book.title%></li>
        <li>Description: <%=book.caption%></li>
      </ul>
    <div>
    </section>

   
    <section>
        <!-- <h2>Book List By This User:</h2>
        <ul>
            <% for(let i = 0; i < user.books.length; i++){ %>
                <li><a href="/books/<%=user.books[i]._id%>"><%=user.books[i].title%></a></li>
            <% } %>
        </ul> -->
    </section>
    
    <section>
      <form action="/books/<%=book._id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Book"/>
      </form>
  </section>
  <section>
    <section>
      <a href="/books/<%=book._id%>/edit">Edit Book</a>
    </section>
</section>
  </main>
</body>
</html>