<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
  <title>Document</title>
</head>
<body>
    <header>
        <h1>Show Page for <%=user.username%></h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/users">User Index</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <section>
          <h2>User Attributes:</h2>
          <ul>
            <li>User: <%=user.username%></li>
            <!-- <li>User: <%=user.books %></li> -->

            <ul>
                <% for(let i = 0; i < user.books.length; i++){ %>
                    <li><a href="/books/<%=user.books[i]._id%>"><%=user.books[i].title%></a></li>
                <% } %>
            </ul>
          </ul>
        </section>
        <section>
            <form action="/users/<%=user._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete User"/>
            </form>
        </section>
        <section>
            <section>
              <a href="/users/<%=user._id%>/edit">Edit User</a>
            </section>
        </section>
      </main>
</body>
</html>